<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="Elastic.NLog.Targets" />
	</extensions>

	<targets>

		<target name="elastic"
			xsi:type="Elasticsearch"
			nodeUris="http://localhost:9200"
			indexFormat="store-logs-${shortdate}">

			<layout xsi:type="ElasticCommonSchemaLayout" includeAllProperties="true">
				<label name="app_name" layout="Store.Worker" />
			</layout>

		</target>

		<target name="logconsole" xsi:type="Console"
				layout="${longdate}|${level}|${logger}|${message}${exception:format=ToString}" />

	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Warn" final="true" />
		<logger name="System.*" maxlevel="Warn" final="true" />

		<logger name="*" minlevel="Info" writeTo="elastic,logconsole" />
	</rules>

</nlog>
