<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>

	<targets>
		<target name="elastic"
				xsi:type="ElasticSearch"
				uri="http://localhost:9200"
				index="store-logs-${shortdate}"
				includeTypeName="false">
			<layout xsi:type="JsonLayout">
				<attribute name="message" layout="${message}" />
				<attribute name="level" layout="${level:upperCase=true}" />
			</layout>
		</target>
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="elastic,logconsole" />
	</rules>
</nlog>