@page "/"
@layout LoginLayout
@inject Store.Web.Services.IAuthService AuthService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
            <EditForm Model="@loginActual" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <div class="mb-4">
                    <div class="row justify-content-center mb-3">
                        <label class="col-sm-2 col-form-label font-weight-bold">Correo electrónico</label>
                        <div class="col-sm-6">
                            <InputText @bind-Value="loginActual.Email" class="form-control" placeholder="Escribe tu email..." />
                            <ValidationMessage For="@(() => loginActual.Email)" class="text-danger" />         
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="row justify-content-center mb-3">
                        <label class="col-sm-2 col-form-label font-weight-bold">Contraseña</label>
                        <div class="col-sm-6">
                            <InputText @bind-Value="loginActual.Password" class="form-control" type="password" />
                            <ValidationMessage For="@(() => loginActual.Password)" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-box-arrow-in-right me-2"></i> Acceder
                    </button>
                </div>
            </EditForm>
           
        </div>
    </div>
 </div>
           

@code {
    private LoginDto loginActual = new();

    private async Task HandleLogin()
    {
        var token = await AuthService.Login(loginActual);
        // Si recibimos un token (no es nulo o vacío), el login fue un éxito
        if (!string.IsNullOrEmpty(token))
        {
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            
            await Notificaciones.MostrarToast(JS, "Error de validación", "No se ha podido validar el usuario");
            Console.WriteLine("Error: Credenciales incorrectas");
        }
    }

}
