@page "/login"
@inject Store.Web.Services.IAuthService AuthService
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
            <EditForm Model="@loginActual" OnValidSubmit="Logeo">
                <DataAnnotationsValidator />
                <div class="mb-4">
                    <div class="row mb-3">
                        <label class="col-sm-2 form-label font-weight-bold">Correo electrónico</label>
                        <div class="col-sm-6">
                            <InputText @bind-Value="loginActual.Email" class="form-control" placeholder="Escribe tu email..." />
                            <ValidationMessage For="@(() => loginActual.Email)" class="text-danger" />         
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="row mb-3">
                        <label class="col-sm-2 form-label font-weight-bold">Contraseña</label>
                        <div class="col-sm-6">
                            <InputText @bind-Value="loginActual.Password" class="form-control" type="password" />
                            <ValidationMessage For="@(() => loginActual.Password)" class="text-danger" />
                        </div>
                    </div>
                </div>

            </EditForm>
        </div>
    </div>
 </div>
           

@code {
    private LoginDto loginActual = new();
}
